body {
	box-sizing: border-box;
}

.container {
	padding: 100px;
	display: flex;
	gap: 200px;
	align-items: flex-start;
}
.categories,
.products,
.items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.button {
	padding: 10px 20px;
	text-align: center;
	margin: 50px;
	cursor: pointer;
	border-radius: 5px;
}
